* {
    margin: 0;
    padding: 0;
  }


section {
    padding-top: 50px;
    box-sizing: unset !important;
}

section row {
    box-sizing: unset !important;
}

.favreddit-navbar {
    background-color: black;
}

.favreddit-navbar .navbar-brand {
    color: #ff6314;
    font-weight: bold;
}

.favreddit-navbar .nav-link {
    color: #ff6314;
}

.favreddit-navbar img {
    width:50px;
}

.lists-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding-left:0;
    flex-wrap: wrap;
}

.lists-cont h2 {
    font-weight: 700;
}

.lists-cont > li {
    width: 30%
}

.sublists-cont {
    list-style-type: decimal
}

.sublists-cont li {
    margin-left: 80px;
    margin-right: 80px;
}

.sublists-cont li a {
    color: rgb(145, 171, 226)
}

.top-buffer {
    padding-top: 50px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 99, 20)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: #ff6314;
  } 